<%= render "dashboard_topbar" %>

<div class="container-fluid" style="padding-top:50px;">
  <div class="row">
    <div class="col-md-2">
      <a href="/subscription_link/<%= @subscription.uuid %>">Extend subscription</a>
    </div>
    <div class="col-md-8">
    <% @posts.each do |post| %>
      <div class="post" style="margin-bottom:4rem; background-color:white;">
        <h1 class="post-title" style="margin-bottom:.25rem;"><%= post.title %></h1>
        <p class="post-meta" style="margin-bottom:1.25rem;"><%= post.created_at.to_date %></p>
        <p class="lead"><%= sanitize post.content %></p>
      </div>
    <% end %>
    </div>
  </div>
</div>
