<%= form_with(model: tier, local: true) do |form| %>
  <% if tier.errors.any? %>
    <div class="col-sm-10">
      <h3><%= pluralize(tier.errors.count, "error") %> prohibited this tier from being saved:</h3>
      <ul>
        <% tier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :description, class: 'col-sm-2 col-form-label text-right' %>
    <div class="col-sm-5">
      <%= form.text_area :description, class: 'form-control', rows: '3' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :amount_cents, class: 'col-sm-2 col-form-label text-right' %>
    <div class="col-sm-5">
      <%= form.number_field :amount_cents, class: 'form-control', placeholder: '0' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :amount_currency, class: 'col-sm-2 col-form-label text-right' %>
    <div class="col-sm-5">
      <%= form.select :amount_currency, @currencies || ['USD'], {}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group row sr-only">
    <%= form.label :admin_id, class: 'col-sm-2 col-form-label text-right' %>
    <div class="col-sm-5">
      <%= form.number_field :admin_id, class: 'form-control', placeholder: @tier.admin_id %>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <div class="col-sm-3 text-right">
      <%= link_to 'Cancel', tiers_path, class: 'btn btn-outline-dark' %>&nbsp;&nbsp;
      <%= form.submit 'Save Tier', class: 'btn btn-outline-primary', id: 'saveGoal' %>
    </div>
  </div>
<% end %>
