<!DOCTYPE html>
<html>
  <head>
    <title>BTC-Neco</title>
    <% if Rails.env == "production" %>
      <%= raw Admin.last.setting.ga_script %>
    <% end %>
    <%= yield :opengraph %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :stylesheets  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascripts %>
    <link rel="canonical" href="https://btcneco.com">
  </head>

  <body>
    <%= yield :facebook %>
    <%= yield %>
    <% if !(current_page? "/admins/sign_in") && !(current_page? "/users/sign_in") %>
    <footer class="mt-auto py-1 text-center">
      <div class="container"><span class="text-muted">Powered by <a href="https://btcneco.com" target="_blank">BTCneco 🐱</a></span></div>
    </footer>
    <% end %>
  </body>
</html>
